# Django
.env
db.sqlite3
*.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*/migrations/*.py
!*/migrations/__init__.py
staticfiles/
.vscode/
.idea/

# Ignorar la base de datos SQLite
backend_discomap/db.sqlite3

# Ignorar los archivos compilados de Python
backend_discomap/projects/__pycache__/
backend_discomap/projects/__pycache__/*.pyc

# Angular
node_modules/
dist/
build/
.angular/
package-lock.json
yarn.lock
.cache/
