# Django
.env
db.sqlite3
*.sqlite3
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

!*/migrations/__init__.py
staticfiles/
.vscode/
.idea/

# Angular
node_modules/
dist/
build/
.angular/
package-lock.json
yarn.lock
.cache/
# Ignorar caché de Angular
.angular/cache/
dist/
