<header class="navbar bg-gray-900 text-white shadow-lg px-4">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-2xl text-primary">Discomap 🎶</a>
  </div>
  <div class="flex-none hidden md:block">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/home" class="hover:text-primary">Inicio</a></li>
      <li><a routerLink="/discotecas" class="hover:text-primary">Discotecas</a></li>
      <li *ngIf="!(authService.isAuthenticated() | async)"><a routerLink="/login" class="hover:text-primary">Iniciar Sesión</a></li>
      <li *ngIf="!(authService.isAuthenticated() | async)"><a routerLink="/register" class="hover:text-primary">Registrarse</a></li>
      <li *ngIf="authService.isAuthenticated() | async"><a routerLink="/favoritos" class="hover:text-primary">Favoritos</a></li>
      <li *ngIf="authService.isAuthenticated() | async"><a routerLink="/perfil" class="hover:text-primary">Perfil</a></li>
      <li *ngIf="authService.isAuthenticated() | async"><a (click)="logout()" class="hover:text-primary cursor-pointer">Cerrar Sesión</a></li>
    </ul>
  </div>
</header>
